include *.rst
include *.yml
include pyproject.toml
include LICENSE
include CMakeLists.txt
recursive-include src *.py
recursive-include src *.c
recursive-include src *.h
recursive-include src py.typed
recursive-include tests *.py
recursive-include tests *.zip
prune issue_template