include *.rst
include pyproject.toml
include LICENSE
include CMakeLists.txt
recursive-include lib *.h
recursive-include lib *.c
recursive-include src *.py
recursive-include src *.c
recursive-include src *.pyi
recursive-include src py.typed
recursive-include tests *.py
recursive-include tests *.bin
recursive-include tests *.so.0
