[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm[toml]>=3.5.0"]
build-backend = "setuptools.build_meta"

[tools.setuptools_scm]
local_scheme = "no-local-version"

[tool.coverage.run]
branch = true
parallel = true
source = ["pybcj"]

[tool.coverage.report]
show_missing = true
exclude_lines = ["if __name__ == .__main__.:", "pragma: no-cover", "@abstract", "def __repr__"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{37,38,39,310}, check, mypy

[testenv]
passenv = GITHUB_*
extras = test
commands = python -m pytest -vv -s

[testenv:check]
extras = check
commands =
    check-manifest {toxinidir}
    flake8 src tests setup.py
    isort --quiet --check-only --diff src tests setup.py
    python setup.py sdist
    twine check dist/*

[testenv:mypy]
extras = check
commands = mypy src/pybcj

[mypy]
warn_redundant_casts = True
warn_unused_ignores = True
strict_optional = True
show_column_numbers = True

[mypy-bcj.*]
ignore_missing_imports = True

[flake8]
ignore = F841

[pytest]
python_files = test*.py
norecursedirs = .git _build tmp* .eggs
addopts =

[gh-actions]
python =
    3.7: py37
    3.8: py38, check
    3.9: py39
    3.10: py310
"""